// Colors
$text-black: #232323;
$text-gray: #343a40;
$text-light-gray: #b2b2b2;
$hotpink: #ff69b4;
$purple: #6508f7;
$purple-dark: #4505ab;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$shadow: rgba(101, 8, 247, 0.4);

// Fonts
$josefin: "Josefin Slab", serif;
$quicksand: "Quicksand", sans-serif;

// Spacing
$padding-small: 1.5rem;

// Breakpoints
$tiny: 400px;
$xsmall: 480px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
